<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>新增</string>
		<key>title</key>
		<string>新增医院通知</string>
		<key>detail</key>
		<string>新增可挂号医院：北京协和医院，医科院肿瘤医院，阜外心血管病医院，北京市大兴区妇幼保健院，北京市大兴区人民医院,北京市电力医院</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>停诊</string>
		<key>title</key>
		<string>停诊通知</string>
		<key>detail</key>
		<string>新增可挂号医院：北京协和医院，医科院肿瘤医院，阜外心血管病医院，北京市大兴区妇幼保健院，北京市大兴区人民医院,北京市电力医院</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>新增</string>
		<key>title</key>
		<string>新增医院通知</string>
		<key>detail</key>
		<string>新增可挂号医院：北京协和医院，医科院肿瘤医院，阜外心血管病医院，北京市大兴区妇幼保健院，北京市大兴区人民医院,北京市电力医院</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>停诊</string>
		<key>title</key>
		<string>停诊通知</string>
		<key>detail</key>
		<string>新增可挂号医院：北京协和医院，医科院肿瘤医院，阜外心血管病医院，北京市大兴区妇幼保健院，北京市大兴区人民医院,北京市电力医院</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>新增</string>
		<key>title</key>
		<string>新增医院通知</string>
		<key>detail</key>
		<string>新增可挂号医院：北京协和医院，医科院肿瘤医院，阜外心血管病医院，北京市大兴区妇幼保健院，北京市大兴区人民医院,北京市电力医院</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>停诊</string>
		<key>title</key>
		<string>停诊通知</string>
		<key>detail</key>
		<string>新增可挂号医院：北京协和医院，医科院肿瘤医院，阜外心血管病医院，北京市大兴区妇幼保健院，北京市大兴区人民医院,北京市电力医院</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>新增</string>
		<key>title</key>
		<string>新增医院通知</string>
		<key>detail</key>
		<string>新增可挂号医院：北京协和医院，医科院肿瘤医院，阜外心血管病医院，北京市大兴区妇幼保健院，北京市大兴区人民医院,北京市电力医院</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>停诊</string>
		<key>title</key>
		<string>停诊通知</string>
		<key>detail</key>
		<string>新增可挂号医院：北京协和医院，医科院肿瘤医院，阜外心血管病医院，北京市大兴区妇幼保健院，北京市大兴区人民医院,北京市电力医院</string>
	</dict>
</array>
</plist>
